body {
  background-color: lightyellow;
}
input:focus {
  outline: 2px solid blue;
}
li {
  list-style-type: none;
}
/*#btn:focus{
	outline: 2px solid red;
}*/
.btn4 {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-top: 5px;
  border-radius: 7px;
}
.div1 {
  border: 2px solid green;
  display: flex;
  margin-left: 528px;
  margin-right: 565px;
  border-radius: 7px;
  background-color: lightgreen;
  height: 40px;
  margin-bottom: 5px;
}
#btn1 {
  background-color: red;
  border: none;
}
#btn2 {
  background-color: cyan;
  border: none;
}
#btn3 {
  background-color: orange;
  border: none;
}
#text {
  margin-top: 0px;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: 2px solid blue;
}
